.NumberedTab {
  --size: clamp(4rem, 8vw, 8rem);

  width: var(--size);

  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-black));
  border: 1px solid hsla(var(--clr-white) / 0.25);
  border-radius: 50%;

  aspect-ratio: 1;
  cursor: pointer;
}

.NumberedTab:hover,
.NumberedTab:focus {
  border-color: hsl(var(--clr-white));
}

.NumberedTab[aria-selected="true"] {
  color: hsl(var(--clr-black));
  border-color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-white));
}
