.DotTab {
  --size: clamp(1rem, 1.5vw, 1.5rem);

  width: var(--size);

  border: unset;
  border-radius: 50%;
  background-color: hsla(var(--clr-white) / 0.25);

  cursor: pointer;
  aspect-ratio: 1;
}

.DotTab:hover,
.DotTab:focus {
  background-color: hsla(var(--clr-white) / 0.5);
}

.DotTab[aria-selected="true"] {
  background-color: hsl(var(--clr-white));
}
