main.ErrorBoundary {
  text-align: center;
}

.ErrorBoundary {
  grid-template-areas: ". content .";
}

@media (min-width: 53.75em) {
  .ErrorBoundary {
    grid-template-areas: ". content content .";
  }
}

.ErrorBoundary__content {
  --flow-gap: 4rem;

  grid-area: content;
}

.ErrorBoundary__cta {
  color: hsla(var(--clr-white) / 0.5);
  text-decoration: none;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.ErrorBoundary__cta:hover,
.ErrorBoundary__cta:focus {
  color: hsla(var(--clr-white) / 1);
}
